<!DOCTYPE html>
<html>
<head>
		<title>system information</title>
</head>
<body>
	   <table>
	        <tr>
	            <td>IP adress:{{ansible_default_ipv4.address}}</td>
	        </tr>
	    <h1> {{main}} </h1>
        </table>
<ul>
    <tr>
	    <p>System information:</p>
        {% for i in oi %}
		<li> {{i}} </li>
		{% endfor %}
	</tr>
</ul>
</body>
</html>
